body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'main' 'footer';
  min-height: 100vh;
}

.content {
  width: 90%;
  margin: 0 auto;

  p {
    margin: 1rem 0;
  }
}

main {
  grid-area: main;
}
